<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Welocme to introvert or an extrovert quiz?</h1>
    <p class="col-md-8 fs-4">This quiz contains a total of {{noOfQuestions}} questions.</p>
    <h4>Instructions:</h4>
    <ol>
        <li>You can question answer in any order </li>
        <li>You have 60 sec to answer each question but,</li>
        <li>You can opt to turn off timer and progress at your pace</li>
    </ol>
    <h1 style="font-family: cursive;text-align:center">Have fun and enjoy</h1>
    <div class="name col-md-4 my-3">
        <label for="name">Please enter your name but is not mandatory:</label>
        <input id="name" #name type="text" class="form-control" (keyup.enter)="startQuiz()">
    </div>
    <button class="btn btn-primary btn-lg" routerLink="/question" (click)="startQuiz()">Start the Quiz!!</button>
</div>
